## Pandas Conti...
- Getting Data
- Statistics on data
- Combining
- Filtering
- Sorting
- Grouping
- Cleaning and Handiling Missing values in Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
print(dir(pd))

['Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_tslib', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

### Getting Data from text files
- pd.read_csv('filename',sep = '\t')

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/companies.txt',
                 sep = '\t',encoding = "ISO-8859-1")

- Possibli solution for decoding:
- https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python

In [5]:
df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

### Getting data from csv file

In [7]:
df1 = pd.read_csv('market_fact.csv')

In [8]:
df1.head()# By default, Access top 5 rows

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [9]:
df1.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54

In [11]:
df1.tail()# By default, access last 5 rows

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [13]:
df1.sample()# By deafult, one random row at a time

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8087,Ord_3114,Prod_3,SHP_4320,Cust_1154,167.07,0.04,32,-93.23,5.68,0.36

In [14]:
df1.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
7864,Ord_2453,Prod_11,SHP_3364,Cust_973,3801.27,0.02,17,-861.30,69.00,0.79
3905,Ord_2851,Prod_8,SHP_3924,Cust_1055,627.69,0.00,15,-12.02,4.00,0.70
1646,Ord_1831,Prod_8,SHP_6459,Cust_1597,39.01,0.07,7,-38.44,4.32,0.64
5781,Ord_729,Prod_13,SHP_994,Cust_230,109.86,0.07,34,19.04,0.85,0.48
4911,Ord_643,Prod_6,SHP_877,Cust_223,72.08,0.04,16,-54.75,5.68,0.40

In [15]:
df1.shape# No.of rows and columns

(8399, 10)

In [17]:
print(df1.index)
print(df1.columns)

RangeIndex(start=0, stop=8399, step=1)
Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

### Statistics

In [124]:
df1.describe(include = 'object')

          Ord_id Prod_id   Ship_id    Cust_id
count       8399    8399      8399       8399
unique      5506      17      7701       1832
top     Ord_2506  Prod_6  SHP_1378  Cust_1140
freq           6    1225         4         30

In [126]:
df1['Prod_id'].value_counts()

Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64

In [21]:
df1.mean()

Sales                  1775.878179
Discount                  0.049671
Order_Quantity           25.571735
Profit                  181.184424
Shipping_Cost            12.838557
Product_Base_Margin       0.512513
dtype: float64

In [22]:
df1['Sales'].mean()

1775.8781788308156

In [23]:
df1[['Discount','Profit']].sum()

Discount        417.19
Profit      1521767.98
dtype: float64

### Combining
- Joining 2 dataset
- Adding a new rows
- Adding new column

In [24]:
dict1 = {'Games':['Ludo','TempleRun','Zombies'],
        'Score':[9,7,8]}
data1 = pd.DataFrame(dict1)

In [25]:
data1

       Games  Score
0       Ludo      9
1  TempleRun      7
2    Zombies      8

In [26]:
dict2 = {'Games':['Cricket','Tennis','Footbal'],
        'Score':[90,88,97]}
data2 = pd.DataFrame(dict2)

In [27]:
data2

     Games  Score
0  Cricket     90
1   Tennis     88
2  Footbal     97

**Joining Data set**
- pd.concat()

In [28]:
pd.concat([data1,data2])

       Games  Score
0       Ludo      9
1  TempleRun      7
2    Zombies      8
0    Cricket     90
1     Tennis     88
2    Footbal     97

In [29]:
pd.concat([data1,data2],axis = 1)

       Games  Score    Games  Score
0       Ludo      9  Cricket     90
1  TempleRun      7   Tennis     88
2    Zombies      8  Footbal     97

- Note: 
    - Axis 0 ==> indicates Row 
    - Axis 1 ==> indicates Columns

**Adding Add a new row and column**

In [30]:
data1

       Games  Score
0       Ludo      9
1  TempleRun      7
2    Zombies      8

In [32]:
data1.append({'Games':'Amazon','Score':10}, ignore_index=True)

       Games  Score
0       Ludo      9
1  TempleRun      7
2    Zombies      8
3     Amazon     10

In [35]:
data1['Y/N'] = ['Yes','Yes','Yes']

In [36]:
data1

       Games  Score  Y/N
0       Ludo      9  Yes
1  TempleRun      7  Yes
2    Zombies      8  Yes

### Merging Dataset
- pd.merge()

In [37]:
market_df = pd.read_csv('market_fact.csv')
customer_df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Global%20Dataset/Cust_dimen.csv')
product_df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Global%20Dataset/Prod_dim.csv')

In [38]:
market_df.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54

In [39]:
customer_df.head(2)

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2

In [40]:
product_df.head(2)

  Product_Category    Product_Sub_Category Prod_id
0  OFFICE SUPPLIES  STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES              APPLIANCES  Prod_2

In [41]:
df_1 = pd.merge(market_df, customer_df,how = 'inner',on='Cust_id')

In [42]:
df_1.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE

In [43]:
merged_df = pd.merge(df_1,product_df, how = 'inner',on = 'Prod_id')

In [44]:
merged_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"

### Grouping
- Grouping analysis mainly have 3 steps
    - Split the dataset into groups
    - Applying functions(like sum(coulumn)..)
    - Combining result into a dataframe

In [45]:
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

- Step1: Grouping using groupby()

In [47]:
grpBy_pdId = market_df.groupby('Prod_id')

In [48]:
grpBy_pdId

- Step 2: Applying function

In [49]:
grpBy_pdId['Profit'].sum()

Prod_id
Prod_1       6664.15
Prod_10    -33582.13
Prod_11    -99062.50
Prod_12     13677.17
Prod_13      7564.78
Prod_14    167361.49
Prod_15    149649.73
Prod_16     -7799.25
Prod_17    307712.93
Prod_2      97158.06
Prod_3     307413.39
Prod_4     316951.62
Prod_5     100427.93
Prod_6      45263.20
Prod_7       -102.67
Prod_8      94287.48
Prod_9      48182.60
Name: Profit, dtype: float64

In [50]:
type(grpBy_pdId['Profit'].sum())

pandas.core.series.Series

- Step 3: Converting result from series to dataframe

In [51]:
pd.DataFrame(grpBy_pdId['Profit'].sum())

            Profit
Prod_id
Prod_1     6664.15
Prod_10  -33582.13
Prod_11  -99062.50
Prod_12   13677.17
Prod_13    7564.78
Prod_14  167361.49
Prod_15  149649.73
Prod_16   -7799.25
Prod_17  307712.93
Prod_2    97158.06
Prod_3   307413.39
Prod_4   316951.62
Prod_5   100427.93
Prod_6    45263.20
Prod_7     -102.67
Prod_8    94287.48
Prod_9    48182.60

### Filtering

In [52]:
market_df.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54

In [53]:
market_df['Sales'] > 30000

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [54]:
market_df[market_df['Sales'] > 30000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39

In [55]:
market_df[(market_df['Sales'] > 30000) & (market_df['Sales'] < 35000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37

In [56]:
market_df['Prod_id'] == 'Prod_17'

0       False
1       False
2       False
3       False
4        True
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Prod_id, Length: 8399, dtype: bool

In [57]:
market_df[market_df['Prod_id'] == 'Prod_17']

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
33,Ord_5046,Prod_17,SHP_7042,Cust_1710,630.99,0.07,49,-114.64,9.44,0.39
74,Ord_5215,Prod_17,SHP_7287,Cust_1749,140.59,0.01,7,-35.88,8.51,0.40
84,Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.51,0.00,3,-11984.40,24.49,0.39
96,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.92,0.00,7,-129.57,19.99,0.52
105,Ord_122,Prod_17,SHP_165,Cust_45,42.31,0.06,2,-53.08,8.51,0.40
109,Ord_139,Prod_17,SHP_186,Cust_45,2671.21,0.06,14,636.18,15.59,0.36
121,Ord_5423,Prod_17,SHP_7577,Cust_1800,13070.20,0.07,4,-6923.60,8.73,0.57
141,Ord_1673,Prod_17,SHP_2314,Cust_498,2027.55,0.04,14,537.40,13.99,0.37
241,Ord_2008,Prod_17,SHP_2744,Cust_723,5549.79,0.09,47,1300.80,17.85,0.56
259,Ord_5175,Prod_17,SHP_7232,Cust_1752,1191.73,0.07,13,147.60,13.99,0.38
275,Ord_4825,Prod_17,SHP_6723,Cust_1652,2013.80,0.01,16,-98.43,56.14,0.39
290,Ord_297,Prod_17,SHP_399,Cust_53,171.71,0.06,1,-343.47,56.14,0.40
301,Ord_5167,Prod_17,SHP_7223,Cust_1756,5972.59,0.06,3,-4852.53,14.70,0.55
323,Ord_1854,Prod_17,SHP_2548,Cust_564,25.96,0.06,2,-29.29,6.24,0.36
380,Ord_4043,Prod_17,SHP_5633,Cust_1384,6991.65,0.08,19,906.80,12.06,0.56
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
413,Ord_1914,Prod_17,SHP_2622,Cust_701,794.58,0.09,1,-1748.34,55.30,0.40
430,Ord_5271,Prod_17,SHP_7359,Cust_1784,896.49,0.00,4,-452.27,14.70,0.59
486,Ord_5343,Prod_17,SHP_7461,Cust_1772,1582.47,0.05,13,-205.02,56.14,0.39
535,Ord_4857,Prod_17,SHP_6777,Cust_227,19100.45,0.00,40,6839.95,14.70,0.56
550,Ord_1592,Prod_17,SHP_2200,Cust_494,1673.53,0.00,32,524.73,10.17,0.37
583,Ord_4948,Prod_17,SHP_6904,Cust_1669,6776.92,0.00,21,1395.02,26.53,0.56
637,Ord_3546,Prod_17,SHP_4909,Cust_1272,3449.26,0.10,46,252.77,30.06,0.40
651,Ord_4316,Prod_17,SHP_6021,Cust_1453,5699.22,0.09,46,2812.63,13.99,0.38
693,Ord_1802,Prod_17,SHP_2495,Cust_611,799.98,0.04,9,15.36,14.00,0.36
699,Ord_2839,Prod_17,SHP_3905,Cust_1048,14383.83,0.01,37,5050.10,12.06,0.56
714,Ord_2155,Prod_17,SHP_2938,Cust_783,2110.37,0.00,16,-14.42,56.14,0.39
719,Ord_2113,Prod_17,SHP_2889,Cust_805,3008.50,0.05,33,1101.90,14.00,0.36
733,Ord_4407,Prod_17,SHP_6143,Cust_1511,168.90,0.09,15,-16.19,6.24,0.36
...,...,...,...,...,...,...,...,...,...,...
7573,Ord_3377,Prod_17,SHP_4681,Cust_1214,1035.20,0.08,4,-668.06,28.06,0.56
7592,Ord_3229,Prod_17,SHP_4479,Cust_1195,16172.44,0.03,32,7176.12,28.14,0.38
7637,Ord_4962,Prod_17,SHP_6924,Cust_1692,2312.96,0.09,17,43.03,17.85,0.56
7660,Ord_3207,Prod_17,SHP_4449,Cust_1181,4192.88,0.02,29,731.32,17.85,0.56
7681,Ord_301,Prod_17,SHP_405,Cust_110,700.73,0.08,6,-188.58,26.30,0.38
7693,Ord_3752,Prod_17,SHP_5207,Cust_1306,11039.75,0.06,29,2148.97,14.70,0.59
7706,Ord_79,Prod_17,SHP_105,Cust_42,22079.47,0.06,12,5322.14,13.99,0.38
7736,Ord_1321,Prod_17,SHP_1819,Cust_486,16587.13,0.08,7,-3476.86,29.70,0.57
7747,Ord_4999,Prod_17,SHP_6977,Cust_1698,9920.85,0.00,36,2685.19,17.86,0.58
7758,Ord_4434,Prod_17,SHP_6179,Cust_1490,3501.79,0.01,1,-7838.33,8.73,0.57
7779,Ord_3333,Prod_17,SHP_4624,Cust_1196,4587.30,0.08,31,1771.15,13.99,0.38
7806,Ord_3305,Prod_17,SHP_4583,Cust_1188,314.93,0.00,30,-17.50,6.24,0.36
7825,Ord_3521,Prod_17,SHP_4874,Cust_1226,1008.34,0.09,45,218.65,6.30,0.38
7841,Ord_1009,Prod_17,SHP_1396,Cust_366,2219.79,0.10,30,-9.45,33.60,0.37
7875,Ord_1762,Prod_17,SHP_2443,Cust_577,2287.10,0.07,23,231.49,19.99,0.52
7891,Ord_217,Prod_17,SHP_301,Cust_71,1888.02,0.03,18,192.33,19.99,0.52
7892,Ord_144,Prod_17,SHP_193,Cust_71,4865.72,0.03,24,1951.30,15.59,0.36
7920,Ord_4460,Prod_17,SHP_6214,Cust_1530,4733.88,0.02,39,239.41,56.14,0.39
7935,Ord_3564,Prod_17,SHP_4934,Cust_1268,5845.82,0.10,32,2227.89,15.59,0.36
7972,Ord_1697,Prod_17,SHP_2349,Cust_582,202.64,0.04,2,-221.62,14.00,0.36
8082,Ord_3109,Prod_17,SHP_4310,Cust_1154,958.18,0.03,10,126.81,14.00,0.36
8145,Ord_3265,Prod_17,SHP_4529,Cust_1190,599.52,0.04,32,25.14,8.51,0.40
8166,Ord_1945,Prod_17,SHP_2663,Cust_713,218.29,0.09,23,-32.43,5.76,0.39
8210,Ord_2110,Prod_17,SHP_2885,Cust_802,4502.26,0.09,38,1272.17,26.30,0.38
8247,Ord_3302,Prod_17,SHP_4580,Cust_1203,89.75,0.03,6,-38.29,7.51,0.39
8249,Ord_3470,Prod_17,SHP_4805,Cust_1203,5615.40,0.07,46,1807.16,26.30,0.38
8265,Ord_4648,Prod_17,SHP_6479,Cust_1587,478.27,0.01,33,-4.85,7.51,0.39
8316,Ord_2622,Prod_17,SHP_3587,Cust_1016,2360.43,0.10,31,66.22,33.60,0.37
8333,Ord_2077,Prod_17,SHP_2841,Cust_790,887.94,0.02,7,49.45,7.11,0.36
8355,Ord_3592,Prod_17,SHP_4973,Cust_1266,636.50,0.01,46,-71.98,9.44,0.39

In [58]:
market_df[market_df['Prod_id'] == 'Prod_17'].shape

(337, 10)

- Practice more on filtering

### Sorting
- Ascending
- Descending
    - df.sort_values()

In [59]:
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [60]:
market_df.sort_values(by = 'Sales')
## By default , return ascending order

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
...,...,...,...,...,...,...,...,...,...,...
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39

In [61]:
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [64]:
market_df.sort_values(by = 'Sales', inplace = True)
## inplace = True --> Original dataset will change
## inplace = False --> No changes will happen

In [63]:
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
...,...,...,...,...,...,...,...,...,...,...
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39

In [65]:
market_df.sort_values(by = 'Sales', inplace = False, ascending = False)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
...,...,...,...,...,...,...,...,...,...,...
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37

In [66]:
market_df.sort_index(axis = 1, ascending=True)

,Cust_id,Discount,Ord_id,Order_Quantity,Prod_id,Product_Base_Margin,Profit,Sales,Ship_id,Shipping_Cost
6700,Cust_242,0.01,Ord_704,1,Prod_7,0.37,-1.97,2.24,SHP_964,0.70
4631,Cust_1712,0.09,Ord_149,1,Prod_3,0.37,-3.16,3.20,SHP_7028,1.49
817,Cust_1450,0.06,Ord_4270,2,Prod_7,0.81,-2.73,3.23,SHP_5959,0.70
52,Cust_1579,0.06,Ord_4755,1,Prod_13,0.56,-1.78,3.41,SHP_6628,0.70
384,Cust_881,0.05,Ord_2252,1,Prod_3,0.37,-2.91,3.42,SHP_3064,1.49
5166,Cust_429,0.03,Ord_1109,1,Prod_13,0.56,-1.56,3.63,SHP_1531,0.70
4510,Cust_597,0.09,Ord_1751,1,Prod_13,0.58,-1.84,3.77,SHP_2427,0.96
45,Cust_1579,0.08,Ord_4768,1,Prod_12,0.37,-1.36,3.85,SHP_6650,0.99
3874,Cust_953,0.10,Ord_2380,3,Prod_7,0.38,-1.72,3.96,SHP_3268,0.70
2453,Cust_1054,0.10,Ord_2890,3,Prod_7,0.37,-1.76,4.94,SHP_3987,0.70
4754,Cust_1415,0.04,Ord_2506,1,Prod_7,0.38,-4.91,4.97,SHP_5853,1.43
1359,Cust_62,0.04,Ord_104,1,Prod_16,0.83,-3.06,4.99,SHP_142,1.32
4063,Cust_269,0.01,Ord_834,1,Prod_16,0.84,-2.64,5.06,SHP_1142,1.92
5964,Cust_1142,0.00,Ord_3056,4,Prod_7,0.38,-1.50,5.31,SHP_4245,0.70
4342,Cust_1320,0.03,Ord_3766,1,Prod_7,0.80,-3.55,5.63,SHP_5224,0.70
6440,Cust_468,0.02,Ord_1218,1,Prod_6,0.39,-1.82,5.68,SHP_1682,0.88
4159,Cust_471,0.10,Ord_1274,1,Prod_7,0.53,-2.34,5.70,SHP_1760,2.00
4024,Cust_1319,0.01,Ord_3757,1,Prod_6,0.36,-1.84,5.73,SHP_5215,0.80
5114,Cust_1408,0.08,Ord_4122,2,Prod_12,0.38,-2.83,6.13,SHP_5743,0.49
964,Cust_865,0.08,Ord_2309,2,Prod_13,0.59,-4.44,6.34,SHP_3165,0.97
624,Cust_992,0.08,Ord_2681,1,Prod_13,0.38,-2.31,6.75,SHP_3670,1.00
63,Cust_1474,0.02,Ord_4499,3,Prod_13,0.59,-4.28,6.76,SHP_6265,1.57
6272,Cust_1140,0.06,Ord_3072,1,Prod_13,0.44,-3.66,6.77,SHP_4266,4.28
7001,Cust_1793,0.01,Ord_5344,2,Prod_16,0.55,-4.64,6.93,SHP_7462,2.56
2212,Cust_1504,0.03,Ord_4484,2,Prod_13,0.58,-4.20,7.01,SHP_6244,0.96
7590,Cust_1195,0.03,Ord_3383,1,Prod_5,0.51,-2.55,7.15,SHP_4690,2.03
2372,Cust_1341,0.10,Ord_3905,4,Prod_7,0.83,-5.53,7.56,SHP_5420,0.76
1742,Cust_1291,0.10,Ord_3667,1,Prod_6,0.36,-6.60,7.64,SHP_5083,3.01
1087,Cust_946,0.03,Ord_2505,2,Prod_13,0.58,-5.27,7.75,SHP_3433,2.40
3190,Cust_1507,0.00,Ord_4490,1,Prod_13,0.56,-0.11,7.96,SHP_6250,0.70
...,...,...,...,...,...,...,...,...,...,...
6797,Cust_466,0.07,Ord_1265,41,Prod_14,0.37,9791.04,24051.49,SHP_1749,24.49
1265,Cust_1769,0.07,Ord_5250,14,Prod_17,0.55,4073.25,24105.87,SHP_7331,14.70
6653,Cust_1799,0.07,Ord_5391,43,Prod_14,0.50,6492.67,24233.54,SHP_7527,24.49
4259,Cust_924,0.04,Ord_1980,28,Prod_10,0.62,-9611.91,24391.16,SHP_2706,44.55
6484,Cust_1281,0.01,Ord_3627,47,Prod_17,0.59,7358.66,24559.91,SHP_5022,16.63
5800,Cust_1729,0.01,Ord_5114,46,Prod_15,0.60,8614.79,24639.80,SHP_7144,26.00
3329,Cust_796,0.04,Ord_2130,48,Prod_15,0.60,8022.94,24701.12,SHP_2906,26.00
2259,Cust_725,0.01,Ord_1978,48,Prod_17,0.59,8788.81,25312.00,SHP_2703,16.63
4963,Cust_1421,0.05,Ord_4161,35,Prod_17,0.56,8612.11,25313.34,SHP_5798,16.06
4124,Cust_937,0.02,Ord_2345,20,Prod_3,0.35,11535.28,25409.63,SHP_3218,19.99
6765,Cust_1763,0.03,Ord_5186,35,Prod_17,0.40,12606.81,26095.13,SHP_7247,55.30
2216,Cust_1432,0.04,Ord_4216,42,Prod_14,0.50,9498.60,26126.92,SHP_5881,24.49
4291,Cust_92,0.04,Ord_138,30,Prod_10,0.62,-11053.60,26133.39,SHP_185,44.55
2680,Cust_732,0.08,Ord_1963,49,Prod_11,0.71,3146.22,26622.55,SHP_2687,45.70
8046,Cust_247,0.05,Ord_825,8,Prod_14,0.37,-391.92,27663.92,SHP_1132,24.49
6660,Cust_1799,0.07,Ord_5425,46,Prod_14,0.37,11984.40,27720.98,SHP_7580,24.49
5042,Cust_934,0.08,Ord_2425,48,Prod_14,0.37,11630.15,27820.34,SHP_3329,24.49
7318,Cust_198,0.00,Ord_546,46,Prod_14,0.44,-635.69,27875.54,SHP_858,24.49
7091,Cust_302,0.02,Ord_911,32,Prod_10,0.62,7513.88,28180.08,SHP_1255,44.55
385,Cust_1307,0.05,Ord_3707,49,Prod_17,0.37,14440.39,28359.40,SHP_5136,24.49
8217,Cust_1762,0.07,Ord_3359,33,Prod_10,0.62,7132.18,28389.14,SHP_7245,44.55
2253,Cust_1170,0.09,Ord_3143,50,Prod_14,0.37,13340.26,28664.52,SHP_4362,24.49
6245,Cust_365,0.04,Ord_997,8,Prod_14,0.37,285.11,28761.52,SHP_1379,24.49
6037,Cust_1310,0.05,Ord_3727,38,Prod_17,0.40,11562.08,29186.49,SHP_5171,55.30
7547,Cust_1162,0.03,Ord_3170,34,Prod_10,0.62,7497.55,29345.27,SHP_4400,44.55
4399,Cust_1571,0.05,Ord_4614,49,Prod_14,0.44,12748.86,29884.60,SHP_6423,24.49
2349,Cust_942,0.01,Ord_2373,9,Prod_14,0.37,3992.52,33367.85,SHP_3259,24.49
1835,Cust_1351,0.09,Ord_3875,8,Prod_17,0.39,3852.19,41343.21,SHP_5370,24.49
3784,Cust_932,0.07,Ord_2338,7,Prod_17,0.39,102.61,45923.76,SHP_3207,24.49
2738,Cust_1151,0.00,Ord_3084,13,Prod_17,0.39,27220.69,89061.05,SHP_4279,24.49

## Data Cleaning Using Pandas
### Working on Duplicate Values and Handling Missing Values
- There are mainly 4 methods to identify & manipulating missing values
    - isnull(): Presence of missing values
    - notnull(): opposite to isnull()
    - dropna(): It deletes null values
    - fillna(): Replace the missing values
    
- ***Note: Always have backup of original dataset***
- ***Warning: Do not run a program more than one time***

In [67]:
dict1 = {'Trainers':['Niharika','Srilalitha','Satheesh','Vijay','Vijay'], 
         'Subjects':['ML','DS','AI','DA','DA']}
data = pd.DataFrame(dict1)

In [68]:
data

     Trainers Subjects
0    Niharika       ML
1  Srilalitha       DS
2    Satheesh       AI
3       Vijay       DA
4       Vijay       DA

In [69]:
## Displays duplicate values if data set contains
data[data.duplicated()]

  Trainers Subjects
4    Vijay       DA

In [72]:
data.drop_duplicates(inplace = True)

In [73]:
data

     Trainers Subjects
0    Niharika       ML
1  Srilalitha       DS
2    Satheesh       AI
3       Vijay       DA

### Identifying Missing Values
- isnull()
- notnull()

In [117]:
market_df = pd.read_csv('market_fact.csv')

In [77]:
market_df.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54

In [118]:
market_df.isnull()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8369,False,False,False,False,False,False,False,False,False,False
8370,False,False,False,False,False,False,False,False,False,False
8371,False,False,False,False,False,False,False,False,False,False
8372,False,False,False,False,False,False,False,False,False,False
8373,False,False,False,False,False,False,False,False,False,False
8374,False,False,False,False,False,False,False,False,False,False
8375,False,False,False,False,False,False,False,False,False,False
8376,False,False,False,False,False,False,False,False,False,False
8377,False,False,False,False,False,False,False,False,False,False
8378,False,False,False,False,False,False,False,False,False,False
8379,False,False,False,False,False,False,False,False,False,False
8380,False,False,False,False,False,False,False,False,False,False
8381,False,False,False,False,False,False,False,False,False,False
8382,False,False,False,False,False,False,False,False,False,False
8383,False,False,False,False,False,False,False,False,False,False
8384,False,False,False,False,False,False,False,False,False,False
8385,False,False,False,False,False,False,False,False,False,False
8386,False,False,False,False,False,False,False,False,False,False
8387,False,False,False,False,False,False,False,False,False,False
8388,False,False,False,False,False,False,False,False,False,True
8389,False,False,False,False,False,False,False,False,False,False
8390,False,False,False,False,False,False,False,False,False,False
8391,False,False,False,False,False,False,False,False,False,False
8392,False,False,False,False,False,False,False,False,False,False
8393,False,False,False,False,False,False,False,False,False,False
8394,False,False,False,False,False,False,False,False,False,False
8395,False,False,False,False,False,False,False,False,False,False
8396,False,False,False,False,False,False,False,False,False,False
8397,False,False,False,False,False,False,False,False,False,False
8398,False,False,False,False,False,False,False,False,False,False

In [79]:
market_df.notnull()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
8369,True,True,True,True,True,True,True,True,True,True
8370,True,True,True,True,True,True,True,True,True,True
8371,True,True,True,True,True,True,True,True,True,True
8372,True,True,True,True,True,True,True,True,True,True
8373,True,True,True,True,True,True,True,True,True,True
8374,True,True,True,True,True,True,True,True,True,True
8375,True,True,True,True,True,True,True,True,True,True
8376,True,True,True,True,True,True,True,True,True,True
8377,True,True,True,True,True,True,True,True,True,True
8378,True,True,True,True,True,True,True,True,True,True
8379,True,True,True,True,True,True,True,True,True,True
8380,True,True,True,True,True,True,True,True,True,True
8381,True,True,True,True,True,True,True,True,True,True
8382,True,True,True,True,True,True,True,True,True,True
8383,True,True,True,True,True,True,True,True,True,True
8384,True,True,True,True,True,True,True,True,True,True
8385,True,True,True,True,True,True,True,True,True,True
8386,True,True,True,True,True,True,True,True,True,True
8387,True,True,True,True,True,True,True,True,True,True
8388,True,True,True,True,True,True,True,True,True,False
8389,True,True,True,True,True,True,True,True,True,True
8390,True,True,True,True,True,True,True,True,True,True
8391,True,True,True,True,True,True,True,True,True,True
8392,True,True,True,True,True,True,True,True,True,True
8393,True,True,True,True,True,True,True,True,True,True
8394,True,True,True,True,True,True,True,True,True,True
8395,True,True,True,True,True,True,True,True,True,True
8396,True,True,True,True,True,True,True,True,True,True
8397,True,True,True,True,True,True,True,True,True,True
8398,True,True,True,True,True,True,True,True,True,True

In [119]:
## It returns column wise null values
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [81]:
## Total count of null values in data set
market_df.isnull().sum().sum()

63

In [120]:
market_df[market_df['Product_Base_Margin'] == np.NaN]

Empty DataFrame
Columns: [Ord_id, Prod_id, Ship_id, Cust_id, Sales, Discount, Order_Quantity, Profit, Shipping_Cost, Product_Base_Margin]
Index: []

### Drop or delete null values
- dropna()

In [86]:
data1 = market_df.copy()

In [87]:
data1.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [88]:
data1.shape

(8399, 10)

In [89]:
data1.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [90]:
data1.dropna(axis = 0, inplace = True)

In [91]:
data1.shape

(8336, 10)

In [92]:
data1.isnull().sum()

Ord_id                 0
Prod_id                0
Ship_id                0
Cust_id                0
Sales                  0
Discount               0
Order_Quantity         0
Profit                 0
Shipping_Cost          0
Product_Base_Margin    0
dtype: int64

### Replace missing values
- Replace missing values either with "0" or mean() value, if that data is numerical
- Replace missing values with "most occured object value" or any object like " No_name, None..." 
    - fillna()

In [96]:
data2 = market_df.copy()

In [97]:
data2.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [99]:
data2.shape

(8399, 10)

In [100]:
data2.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [101]:
data2['Product_Base_Margin'].mean()

0.5125131957773527

In [102]:
data2['Product_Base_Margin'] = data2['Product_Base_Margin'].fillna(data2['Product_Base_Margin'].mean())

In [103]:
data2.shape

(8399, 10)

In [104]:
data2.isnull().sum()

Ord_id                 0
Prod_id                0
Ship_id                0
Cust_id                0
Sales                  0
Discount               0
Order_Quantity         0
Profit                 0
Shipping_Cost          0
Product_Base_Margin    0
dtype: int64

### Delete Unwanted Columns

In [105]:
data2.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54

In [107]:
data2.drop(['Ship_id'], axis = 1)

,Ord_id,Prod_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.560000
1,Ord_5406,Prod_13,Cust_1818,42.2700,0.01,13,4.56,0.93,0.540000
2,Ord_5446,Prod_4,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.590000
3,Ord_5456,Prod_6,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.370000
4,Ord_5485,Prod_17,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.380000
5,Ord_5446,Prod_6,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.370000
6,Ord_31,Prod_12,Cust_26,14.7600,0.01,5,1.32,0.50,0.360000
7,Ord_4725,Prod_4,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.550000
8,Ord_4725,Prod_13,Cust_1641,162.0000,0.01,33,45.84,0.71,0.520000
9,Ord_4725,Prod_6,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.370000
10,Ord_4743,Prod_2,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.560000
11,Ord_1925,Prod_6,Cust_708,465.9000,0.05,38,79.34,4.86,0.380000
12,Ord_2978,Prod_16,Cust_1088,305.0500,0.04,27,23.12,3.37,0.570000
13,Ord_2207,Prod_11,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.780000
14,Ord_2207,Prod_10,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.770000
15,Ord_2280,Prod_5,Cust_839,460.6900,0.06,48,-103.48,7.29,0.450000
16,Ord_2282,Prod_9,Cust_839,443.4600,0.06,30,193.12,1.39,0.380000
17,Ord_4471,Prod_15,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.600000
18,Ord_4427,Prod_6,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.360000
19,Ord_996,Prod_13,Cust_371,41.9700,0.05,12,-37.03,4.20,0.560000
20,Ord_996,Prod_13,Cust_371,57.1700,0.08,18,-24.03,2.31,0.560000
21,Ord_996,Prod_6,Cust_371,81.2500,0.01,11,-44.54,7.86,0.370000
22,Ord_996,Prod_5,Cust_371,3202.2500,0.09,44,991.26,19.99,0.430000
23,Ord_996,Prod_7,Cust_371,35.6400,0.05,10,-0.71,1.63,0.360000
24,Ord_2573,Prod_3,Cust_931,197.6100,0.08,13,3.46,7.27,0.380000
25,Ord_2335,Prod_13,Cust_931,38.2600,0.03,22,-2.34,0.70,0.560000
26,Ord_2456,Prod_5,Cust_931,109.5800,0.00,13,31.32,4.00,0.420000
27,Ord_2405,Prod_9,Cust_931,1062.6900,0.01,28,401.80,6.66,0.400000
28,Ord_2573,Prod_4,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.550000
29,Ord_2478,Prod_12,Cust_931,139.9800,0.07,33,-140.54,6.89,0.390000
...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.380000
8370,Ord_2696,Prod_13,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.570000
8371,Ord_2624,Prod_4,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.580000
8372,Ord_2772,Prod_9,Cust_1006,56.9000,0.03,7,12.64,1.39,0.360000
8373,Ord_2600,Prod_16,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.830000
8374,Ord_2658,Prod_5,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.740000
8375,Ord_2772,Prod_3,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.370000
8376,Ord_2624,Prod_8,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.790000
8377,Ord_2722,Prod_12,Cust_1006,34.0100,0.00,12,10.58,0.50,0.390000
8378,Ord_2706,Prod_2,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.590000
8379,Ord_2722,Prod_5,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.500000
8380,Ord_2772,Prod_6,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.370000
8381,Ord_2696,Prod_4,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.590000
8382,Ord_2658,Prod_3,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.380000
8383,Ord_2722,Prod_1,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.850000
8384,Ord_4620,Prod_3,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.370000
8385,Ord_1833,Prod_3,Cust_637,611.1600,0.04,46,100.22,4.98,0.400000
8386,Ord_2324,Prod_7,Cust_851,121.8700,0.07,39,11.32,1.35,0.400000
8387,Ord_2220,Prod_3,Cust_851,41.0600,0.04,4,-16.39,6.28,0.350000
8388,Ord_4424,Prod_1,Cust_1519,994.0400,0.03,10,-335.06,35.00,0.512513
8389,Ord_4444,Prod_13,Cust_1519,159.4100,0.00,44,34.68,0.98,0.520000
8390,Ord_5435,Prod_16,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.580000
8391,Ord_5435,Prod_4,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.580000
8392,Ord_5384,Prod_9,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.370000
8393,Ord_5348,Prod_8,Cust_1798,356.7200,0.07,9,12.61,1.99,0.440000
8394,Ord_5353,Prod_4,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.590000
8395,Ord_5411,Prod_6,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.370000
8396,Ord_5388,Prod_6,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.400000
8397,Ord_5348,Prod_15,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.620000
8398,Ord_5459,Prod_6,Cust_1798,603.6900,0.00,47,131.39,4.86,0.380000

In [108]:
data2.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38